@font-face {
    font-family: 'Sackers Gothic Std Heavy';
    src: url('fonts/Sackers Gothic Std Heavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

p, .navbar, .nav-item, .dropdown-content a {
    font-family: 'Sackers Gothic Std Heavy', Arial, sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 10;
    color: white;
    height: 60px;
}

.nav-item {
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0; /* Move sidebar to the left */
    width: 300px;
    height: calc(100vh - 60px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: opacity 0.3s ease-in-out;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.sidebar.show {
    opacity: 1;
    pointer-events: auto;
}

.sidebar-content {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.sidebar-content a {
    font-family: 'Sackers Gothic Std Heavy', Arial, sans-serif;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.sidebar-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
    z-index: 1;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(20vh);
}

.fade-in {
    -webkit-animation: fadeIn 7s ease-in-out infinite;
    -moz-animation: fadeIn 7s ease-in-out infinite;
    -o-animation: fadeIn 7s ease-in-out infinite;
    animation: fadeIn 7s ease-in-out infinite;
    animation-delay: 0.54s;
}

.main-text {
    font-size: 2em;
    margin-bottom: 1em;
}

.social-links {
    font-size: 1em;
}

.social-links span {
    margin: 0 12.5px;
}

.social-links a {
    text-decoration: none;
    color: inherit;
    transition: text-decoration 0.3s ease;
}

.social-links a:hover {
    text-decoration: underline;
}

.social-links a:not(:hover) {
    text-decoration: none;
}

@keyframes fadeIn {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}